@import 'styles/shared.module.scss';

.root {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: $sharedMargin * 0.5;
  user-select: none;
}

.homeLink {
  padding: $sharedMargin * 0.5;

  &.selected {
    cursor: default;
    text-decoration: none;

    &:hover, &:active {
      color: $colorText;
    }
  }
}

.h1 {
  display: inline-block;
  font-size: $fontSize * 1.5;
  font-weight: 900;
  line-height: 90%;
  text-transform: uppercase;
  vertical-align: middle;
}

.pageLinks {
  flex-shrink: 1;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.link {
  padding: $sharedMargin * 0.5;
  position: inline-block;
  text-transform: lowercase;

  &.selected{
    cursor: default;
    text-decoration: none;

    &:hover, &:active {
      color: $colorText;
    }
  }
}
