@import 'styles/shared.module.scss';

.root {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding: $sharedMargin * 0.5;
  user-select: none;
}

.homeLink {
  margin: $sharedMargin * 0.5;

  &.selected{
    cursor: default;
    text-decoration: none;

    &:hover, &:active {
      color: $colorText;
    }
  }
}

.pageLinks {
  margin: $sharedMargin * 0.5;
}

.h1 {
  display: inline-block;
  font-size: 25px;
  font-weight: 900;
  line-height: 90%;
  text-transform: uppercase;
}

.link {
  position: inline-block;
  text-transform: lowercase;

  &.selected{
    cursor: default;
    text-decoration: none;

    &:hover, &:active {
      color: $colorText;
    }
  }

  & + .link {
    margin-left: $sharedMargin;
  }
}
