$sharedMargin: 10px;
$quickTransition: 0.2s;
$fontSize: 12px;
$contentMaxWidth: 800px;

$colorC: #0ff;
$colorM: #f0f;
$colorY: #ff0;
$colorK: #000;
$colorR: #f00;
$colorG: #0f0;
$colorB: #00f;
$colorW: #fff;

$colorGray1: #1a1a1a;
$colorGray2: #333;
$colorGray3: #4d4d4d;
$colorGray4: #666;
$colorGray5: #808080;
$colorGray6: #999;
$colorGray7: #b3b3b3;
$colorGray8: #ccc;
$colorGray9: #e5e5e5;

$colorText: $colorK;
$colorBackground: $colorW;
$colorHover: $colorC;
$colorActive: $colorM;

@mixin textBold {
  font-weight: 700;
  font-size:$fontSize - 1px;
  text-transform: uppercase;
}

// dont use whole numbers here except 0
@mixin between($biggerThan, $lessThan: null) {
  @if not $lessThan {
    @media (min-width: $biggerThan) {
      @content;
    }
  }
  @elseif $biggerThan == 0 {
    @media (max-width: $lessThan) {
      @content;
    }
  } @else {
    @media (min-width: $biggerThan) and (max-width: ($lessThan - 1)) {
      @content;
    }
  }
}
