@import 'styles/shared.module.scss';

.root {
}

.form {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: $contentMaxWidth;
  position: relative;
}

.label {
  margin-bottom: $sharedMargin;

  &:not(.full) {
    $breakpoint: 500.1px;
    @include between(0, $breakpoint) {
      width: 100%;
    }
    @include between($breakpoint) {
      width: calc(50% - #{$sharedMargin} * 0.5);
    }
  }

  &.full {
    width: 100%;
  }
}

.labelText {
  @include textBold;
}

.input, .textarea {
  background-color: $colorGray9;
  display: block;
  padding: $sharedMargin * 0.5;
  box-sizing: border-box;
  width: 100%;
}

.textarea {
  height: 6em;
  width: 100%;
}

.input {
  border: 1px solid transparent;
  height: 24px;
  transition: border-color $quickTransition;

  &.displayRequired {
    &:required {
      &:invalid {
        border-color: $colorR;
      }

      &:out-of-range {
        border-color: $colorG;
      }
    }
  }
}

.submit {
  background-color: $colorText;
  color: $colorBackground;
  padding: 5px;
  transition: background-color $quickTransition;
  @include textBold;

  &:hover {
    background-color: $colorHover;
  }

  &:active {
    background-color: $colorActive;
  }
}

.submitting {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($colorBackground, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
