@import 'styles/shared.module.scss';

.root {
  background-color: rgba($colorW, 0.5);
  border: 1px solid $colorGray8;
  border-radius: 5px;
  display: flex;
  padding: 5px;
}

.current, .total {
  text-align: center;
  width: 15px;
}

.divider {
  margin: 0 5px;
}
