@import 'styles/shared.module.scss';

$borderWidth: 1px;
$margin: $sharedMargin * 2 + $borderWidth;

:export {
  margin: $margin;
}

.root {
  background-color: $colorW;
  padding: 0 $margin;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  scroll-snap-align: center;

  &:first-child {

    &> .img {
    }
  }

  &:not(:first-child) {

  }

  &:last-of-type {
    align-items: flex-start;

    &> .img {
    }
  }

  &:not(:last-of-type) {
    align-items: flex-end;
  }

  // &:nth-child(odd) {
  //   background-color: rgba(255, 0, 0, 1);
  // }
  //
  // &:nth-child(even) {
  //   background-color: rgba(0, 255, 0, 1);
  // }
}

.img {
  outline: $borderWidth solid $colorGray8;
  outline-offset: $sharedMargin;
}

.indicatorFixed {
  position: fixed;
  right: $margin;
  bottom: $margin;
}

.indicatorAbsolute {
  position: absolute;
  right: $margin;
  bottom: $margin;
}
