@import 'styles/shared.module.scss';

$margin: $sharedMargin;

:export {
  margin: $margin;
}

.root {
}

.imgWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  &:first-child {
    align-items: flex-end;

    &> .img {
      margin-bottom: $margin * 0.5;
    }
  }

  &:last-of-type {
    align-items: flex-start;

    &> .img {
      margin-top: $margin * 0.5;
    }
  }
}

.img {
}

.indicatorFixed {
  position: fixed;
  right: $margin;
  bottom: $margin;
}

.indicatorAbsolute {
  position: absolute;
  right: $margin;
  bottom: $margin;
}
