@import 'styles/shared.module.scss';

$borderWidth: 1px;
$margin: $sharedMargin * 2 + $borderWidth;

:export {
  margin: $margin;
}

.root {
  background-color: $colorW;
  padding: 0 $margin;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
}

.imgWrapper {
  align-items: center;
  display: flex;
  justify-content: center;

  &:not(:last-of-type) {
    scroll-snap-align: center;
  }

  &:last-of-type {
    scroll-snap-align: start;
  }

  // background-color: rgba(255, 0, 0, 0.1);
  // &:nth-child(even) {
  //   background-color: rgba(0, 255, 0, 0.1);
  // }
}

.img {
  outline: $borderWidth solid $colorGray8;
  outline-offset: $sharedMargin;
}

.indicatorFixed {
  position: fixed;
  right: $sharedMargin;
  bottom: $sharedMargin;
}

.indicatorAbsolute {
  position: absolute;
  right: $sharedMargin;
  bottom: $sharedMargin;
}
